docs/images/screenshot1.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/screenshot2.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/screenshot3.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/screenshot4.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/screenshot.jpg filter=lfs diff=lfs merge=lfs -text
